<h1>Thêm giảng viên</h1>
<form action="/add" method="POST">
    MaGV: <input type="text" name="MaGV"><br>
    HoTen: <input type="text" name="HoTen"><br>
    DiaChi: <input type="text" name="DiaChi"><br>
    SDT: <input type="text" name="SDT"><br>
    <button type="submit">Thêm giảng viên</button>

</form>